// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #6abeb6;
$secondary: #b9d8f5;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.titleStyle {
  font-size: 20px;
  background-color: #b1d6d2;
  padding: 10px;
  color: #043544;
  border-radius: 5px;
}
